html {
    scroll-behavior: smooth !important;
    width: 100vw !important;
}

body {
    font-family: 'Josefin Sans', sans-serif !important;
    padding: 0 !important;
    width: 100% !important;
    overflow-x: hidden !important;
}

i {
    width: auto !important;
}

body,
div,
nav,
svg,
section {
    will-change: background-color;
    transition: background-color 350ms ease;
}

svg>path {
    will-change: color;
    transition: color 350ms ease;
}

html[data-bs-theme="dark"] .navbar {
    background-color: #3C2F2250 !important;
    backdrop-filter: blur(0.5rem);
}

html[data-bs-theme="light"] .navbar {
    background-color: #F1C8CB50 !important;
    backdrop-filter: blur(0.5rem);
}

html[data-bs-theme="dark"] .text-theme-auto {
    color: rgb(var(--bs-light-rgb));
}

html[data-bs-theme="light"] .text-theme-auto {
    color: rgb(var(--bs-dark-rgb));
}

html[data-bs-theme="dark"] .nav-link {
    color: #151412;
}

html[data-bs-theme="dark"] .nav-link:hover,
html[data-bs-theme="dark"] .nav-link.active {
    color: #ffffff;
}

html[data-bs-theme="light"] .nav-link {
    color: rgba(var(--bs-black-rgb), 0.5);
}

html[data-bs-theme="light"] .bg-theme-auto {
    background-color: #F6B0BB;
}

html[data-bs-theme="dark"] .bg-theme-auto {
    background-color: #3C2F22;
}

html[data-bs-theme="dark"] .btn-outline-auto {
    --bs-btn-color: #EDE8DA;
    --bs-btn-border-color: #151412;
    --bs-btn-hover-color: #151412;
    --bs-btn-hover-bg: #325454;
    --bs-btn-hover-border-color: #151412;
    --bs-btn-focus-shadow-rgb: #62392E;
    --bs-btn-active-color: #151412;
    --bs-btn-active-bg: #7F6C53;
    --bs-btn-active-border-color: #151412;
    --bs-btn-active-shadow: inset 0 3px 5px #62392E;
    --bs-btn-disabled-color: #151412;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #151412;
    --bs-gradient: none;
}

html[data-bs-theme="light"] .btn-outline-auto {
    --bs-btn-color: #020001;
    --bs-btn-border-color: #F1C8CB;
    --bs-btn-hover-color: #020001;
    --bs-btn-hover-bg: #F1C8CB;
    --bs-btn-hover-border-color: #F1C8CB;
    --bs-btn-focus-shadow-rgb: #020001;
    --bs-btn-active-color: #020001;
    --bs-btn-active-bg: #F1C8CB;
    --bs-btn-active-border-color: #F1C8CB;
    --bs-btn-active-shadow: inset 0 3px 5px #020001;
    --bs-btn-disabled-color: #F1C8CB;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #F1C8CB;
    --bs-gradient: none;
}

html[data-bs-theme="dark"] .bg-overlay-auto {
    background-color: #151412;
    backdrop-filter: blur(0.25rem);
}

html[data-bs-theme="light"] .bg-overlay-auto {
    background-color: #F1C8CB;
    backdrop-filter: blur(0.25rem);
}

.hover-area {
    display: none;
    cursor: pointer;
}

.hover-wrapper:hover .hover-area {
    display: flex;
}

.gif-image {
    max-height: 10rem;
}