@import url("common.css");
@import url("animation.css");

html[data-bs-theme="light"] {
    --bs-body-color: #020001;
    --bs-body-bg: #7E8C69;
    color: #020001;
    background-color: #7E8C69;
}

html[data-bs-theme="dark"] {
    --bs-body-color: #EDE8DA;
    --bs-body-bg: #7F6C53;
    color: #EDE8DA;
    background-color: #7F6C53;
}

html {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

.with-scrollbar {
    scrollbar-width: auto !important;
    -ms-overflow-style: auto !important;
}

.font-esthetic {
    font-family: 'Sacramento', cursive !important;
}

.font-arabic {
    font-family: 'Noto Naskh Arabic', serif !important;
}

.img-center-crop {
    width: 13rem;
    height: 13rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

html[data-bs-theme="light"] .btn-transparent {
    background-color: #7E8C6930 !important;
    backdrop-filter: blur(0.5rem);
}

html[data-bs-theme="dark"] .btn-transparent {
    background-color: #7F6C5330 !important;
    backdrop-filter: blur(0.5rem);
}

.loading-page {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1056;
    background-image: './assets/images/batik.jpeg';
}

html[data-bs-theme="light"] .color-theme-svg {
    color: #9CAD8C;
    background-color: #7E8C69;
}

html[data-bs-theme="dark"] .color-theme-svg {
    color: #62392E;
    background-color: #7F6C53;
}

html[data-bs-theme="light"] .bg-light-dark {
    background-color: #7E8C69;
}

html[data-bs-theme="light"] .bg-white-black {
    background-color: #9CAD8C;
}

html[data-bs-theme="dark"] .bg-light-dark {
    background-color: #7F6C53;
}

html[data-bs-theme="dark"] .bg-white-black {
    background-color: #62392E;
}

html[data-bs-theme="light"] .border-secondary {
    border-color: #F1C8CB !important;
}

html[data-bs-theme="light"] .bg-secondary {
    border-color: #F1C8CB !important;
}

html[data-bs-theme="light"] .text-secondary {
    color: #F1C8CB !important;
}

html[data-bs-theme="dark"] .border-secondary {
    border-color: #151412 !important;
}

html[data-bs-theme="dark"] .bg-secondary {
    background-color: #151412 !important;
}

html[data-bs-theme="dark"] .text-secondary {
    color: #151412 !important;
}

.bg-cover-home {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: linear-gradient(0.5turn, transparent, black 40%, black 60%, transparent);
}

.width-loading {
    width: 25%;
}

.cursor-pointer {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .width-loading {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .width-loading {
        width: 75%;
    }
}

svg {
    display: block;
    line-height: 0;
    shape-rendering: geometricPrecision;
    backface-visibility: hidden;
}

.svg-wrapper {
    overflow: hidden !important;
    transform: translateZ(0) !important;
}

.no-gap-bottom {
    margin-bottom: -0.75rem !important;
}